.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .App {
    margin: 0 auto;
    margin-top: 40px;
  }
}
