.morning {
  background-image: url("./media/morning.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 120%;
}
.evening {
  background-image: url("./media/evening.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 120%;
}
.night {
  background-image: url("./media/night.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 120%;
}
