.Search {
  background-color: rgba(250, 250, 250, 0.1);
  border: 1px solid lightgray;
  border-radius: 6px;
}
.Search form {
  padding: 20px 10px;
}
.Search hr {
  border: 1px solid lightgray;
  margin: 0;
}
@media (max-width: 767.98px) {
  .Search {
    border: none;
    border-radius: 0;
  }
}
