.WeatherTemperature h2 {
  display: inline;
  font-weight: bolder;
  font-size: 38px;
  margin-bottom: 0;
}

.WeatherTemperature .units {
  display: inline-block;
  position: relative;
  top: -16px;
  padding-left: 4px;
  font-size: 14px;
}
.WeatherTemperature a {
  text-decoration: none;
}

.WeatherTemperature {
  position: relative;
  left: 2px;
}
