.WeatherOverview h1 {
  font-weight: bolder;
  font-style: italic;
  font-family: monospace;
  font-size: 40px;
}
.WeatherOverview ul {
  list-style-type: none;
  padding: 0;
}
.WeatherOverview .weather-conditions canvas {
  margin-right: 8px;
  position: relative;
  top: 10px;
}
.WeatherOverview .weather-conditions {
  font-size: 18px;
}
.WeatherOverview .other-measurements {
  font-size: 14px;
  padding-top: 16px;
}

