.WeatherOverview h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 36px;
}
.WeatherOverview h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 46px;
}
.WeatherOverview ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}
.WeatherOverview canvas {
  margin-right: 8px;
  position: relative;
  top: 16px;
}
.WeatherOverview .weather-conditions {
  font-size: 20px;
}
.WeatherOverview .other-measurements {
  font-size: 16px;
  padding-top: 20px;
}
